@import "tailwindcss";

:root {
  --black: #151515;
  --white: #ffffff;
  --yellow: #ffdd00;

  --color-background: var(--black);
  --font-cabinet-grotesk: var(--font-cabinet-grotesk);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--black);
  color: var(--white);
}
