@import "tailwindcss";

:root {
  --black: #151515;
  --white: #ffffff;
  --yellow: #ffdf00;
}

@theme inline {
  --color-background: var(--black);
  --font-cabinet-grotesk: var(--font-cabinet-grotesk);
}

body {
  background: var(--black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
