@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --white: #ffffff;
  --primary: #666666;

  --color-background: var(--background);
  --font-cabinet-grotesk: var(--font-cabinet-grotesk);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  color: var(--white);
}
